.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: cornflowerblue;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 1000px;
    color: rgb(18, 17, 17);
    font-size: 18px;
    font-family: sans-serif;
    background-color: white;
    padding: 20px;
  }
 .App{
   background-color: cornflowerblue;   
  }